@import url(./shared/reset.css);
@import url(./shared/style-guide.css);
@import url(./shared/utility.css);
@import url(./shared/iframe.css);

/* responsive image hero/banner */

.res-img-container {
  width: 80%;
}

.res-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* round responsive image  */
.round-res-img {
  height: 10em;
  width: 10em;
}
