@import url(./components/button/button.css);

.landing-page-wrapper {
  display: grid;
  grid-template-rows: 1fr 5fr;
  max-height: 100vh;
}
.header {
  display: grid;
  grid-template-columns: auto auto;
  place-content: space-between;
  place-items: center;
  grid-gap: 5rem;
  box-shadow: 0px 2px 5px 0px var(--primary);
  z-index: 1;
}
.main {
  display: grid;
  justify-content: center;
  align-content: start;
  place-items: center;
}
.main p {
  place-items: center;
  width: 55%;
  color: grey;
  text-align: justify;
}
.main h1,
h2 {
  margin: 0;
}
.brand {
  color: var(--primary);
  font-family: var(--font-brand);
}
.socials {
  display: grid;
  grid-template-columns: repeat(2, 30px);
  grid-gap: 6rem;
  width: 20rem;
  justify-content: center;
}
.socials li:hover {
  filter: invert(58%) sepia(99%) saturate(1263%) hue-rotate(128deg)
    brightness(97%) contrast(105%);
}
.getting-started {
  transition: all 0.1s ease;
}
.getting-started:hover {
  box-shadow: 0px 1px 2px 1px var(--dark);
  transform: scale(1.02);
}
.iframe-codes {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}
