<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../main.css" />
    <title>Input</title>
  </head>
  <body>
    <div class="inputs-container">
      <!-- Simple input -->
      <div class="input-container p-xl flex-r flex-center">
        <input class="input--common" type="text" placeholder="type text here" />
      </div>
      <!-- input with button inside  -->
      <div class="input-container p-xl flex-r flex-center">
        <input class="input--common" type="text" placeholder="type text here" />
      </div>
      <!-- input sizes  -->
      <div class="input-container p-xl flex-r flex-center">
        <input class="input--common" type="text" placeholder="type text here" />
      </div>
    </div>
  </body>
</html>
