<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../main.css" />
    <title>Modal</title>
</head>

<body>
    <div class="modal-wrapper p-l-xxl p-r-xxl p-b-xxl">
        <h1>TOASTS</h1>
        <p class="text-l fw-l">
            Toasts are the lightweight notifications designed to mimic the push notifications.
        </p>
        <h2>Get Started</h2>
        <p>
            To use only the modal component in your project. Kindly include the following CDN in your HTML file.
        </p>
        <div class="iframe-container flex-r flex-center m-tb-l">
            <iframe class="iframe-codes cdn-link"
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%252F%252Fadd%2520this%2520link%2520in%2520the%2520hader%2520section%2520of%2520the%2520HTML%2520file.%250A%253Clink%2520rel%253D%2522stylesheet%2522%2520href%253D%2522https%253A%252F%252Fui-phoenix.netlify.app%252Fcomponents%252Ftoasts%252Ftoasts.css%2522%253E%250A%2520%2520%252F%252F%2520add%2520this%2520script%2520file%2520at%2520the%2520of%2520the%2520body%2520%28after%2520footer%29.%2520just%2520before%2520the%2520body%2520closing%2520tag.%250A%253Cscript%2520src%253D%2522https%253A%252F%252Fui-phoenix.netlify.app%252Fcomponents%252Ftoasts%252Ftoasts.js%2522%253E%253C%252Fscript%253E"
                style="width: 942px; height: 260px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">

            </iframe>

        </div>
        <div class="modal-parent-container">
            <h2></h2>
            <p class="text-sm">
                For using this modal simply copy the code from below and paste in your project. You can add your own
                class and customize it. This toast will be positioned at the bottom, you can change the position
                property as per your need.
            </p>

            <div class="toast-container p-xxl flex-c flex-center position-r br-md m-t-xl">
                <div class="toast flex-r flex-center text-sm p-xs br-md position-a">
                    <p class="toast-text">Something Went Wrong</p>
                    <span class=" toast-button m-l-s">RETRY</span>
                </div>
            </div>
            <h3>Code Snippit</h3>
            <div class="iframe-container flex-r flex-center m-tb-l">

                <iframe class="iframe-codes"
                    src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522toast%2520flex-r%2520flex-center%2520text-sm%2520p-xs%2520br-md%2522%253E%250A%2520%2509%253Cp%253ESomething%2520Went%2520Wrong%253C%252Fp%253E%250A%2520%2509%253Cspan%2520class%253D%2522%2520toast-link%2520m-l-s%2522%253ERETRY%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
                    style="width: 631px; height: 260px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">


                    </>
            </div>
        </div>
        </di>
        <script src="./modal.js" type="module"></script>
</body>

</html>