@import url(./shared/reset.css);
@import url(./shared/style-guide.css);
@import url(./shared/utility.css);
@import url(./shared/iframe.css);

/* solid buttons  */

.button {
    width: fit-content;
    padding: calc(var(--spc-s) - .3rem);
    border-radius: var(--br-s);
    border: none;
    color: white;
    text-align: center;
}

.button--primary {
    background-color: var(--primary);
}

.button--secondary {
    background-color: var(--secondary);
}

.button--danger {
    background-color: var(--danger);
}

.button--success {
    background-color: var(--success);
}

.button--warning {
    background-color: var(--warning);
}

.button--info {
    background-color: var(--info);
}

.button--dark {
    background-color: var(--dark);
}

.button--light {
    background-color: var(--light-color);
    color: var(--dark)
}


/* outline buttons  */

.outline-button-primary {
    color: var(--primary);
    background-color: white;
    border: 1px solid currentColor;
}

.outline-button-secondary {
    color: var(--secondary);
    background-color: white;
    border: 1px solid currentColor;
}

.outline-button-danger {
    color: var(--danger);
    background-color: white;
    border: 1px solid currentColor;
}

.outline-button-success {
    color: var(--success);
    background-color: white;
    border: 1px solid currentColor;
}

.outline-button-warning {
    color: var(--warning);
    background-color: white;
    border: 1px solid currentColor;
}

.outline-button-info {
    color: var(--info);
    background-color: white;
    border: 1px solid currentColor;
}

.outline-button-light {
    color: var(--light-color);
    background-color: white;
    border: 1px solid currentColor;
}

.outline-button-dark {
    color: var(--dark);
    background-color: white;
    border: 1px solid currentColor;
}


/* active and disbaled buttons  */

.active {
    opacity: 100%;
}

.disabled {
    opacity: 60%;
}


/* button sizes  */

.btn-sm {
    padding: .5em;
}

.btn-md {
    padding: 1.25em;
}

.btn-l {
    padding: 1.75em;
}

.btn-xl {
    padding: 2.25em;
}