@import url(../../shared/reset.css);
@import url(../../shared/style-guide.css);
@import url(../../shared/utility.css);
@import url(../../shared/iframe.css);

.avatar-parent-container {
  word-spacing: 0.2rem;
}
.avatar-container {
  background-color: whitesmoke;
  border-radius: var(--br-md);
}

/* avatar with image  */

/* sizes  */
.av-xs {
  height: 2.5rem;
  width: 2.5rem;
}
.av-s {
  height: 5rem;
  width: 5rem;
}
.av-md {
  height: 7.5rem;
  width: 7.5rem;
}
.av-l {
  height: 10rem;
  width: 10rem;
}

/* roundness  */

.semi-round {
  border-radius: var(--br-l);
}

.semi-round-xs {
  border-radius: var(--br-md);
}

.full-round {
  border-radius: var(--br-xl);
}

/* avatar with text  */

.av-txt {
  background-color: var(--primary);
  color: white;
  text-align: center;
}

.av-txt-xs {
  font-size: var(--text-xsm);
  line-height: 2.5rem;
}
.av-txt-s {
  font-size: var(--text-sm);
  line-height: 5rem;
}
.av-txt-md {
  font-size: var(--text-md);
  line-height: 7.5rem;
}
.av-txt-l {
  font-size: var(--text-l);
  line-height: 10rem;
}
