<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../main.css">
    <script src="https://kit.fontawesome.com/396044bcab.js" crossorigin="anonymous"></script>
    <title>Rating</title>
</head>

<body>
    <div class="rating-wrapper p-l-xxl p-r-xxl p-b-xxl">
        <h1>RATINGS</h1>
        <p class="text-l fw-l">
            It is used for Rating purpose.
        </p>
        <h2>Get Started</h2>
        <p>
            To use only the Rating component in your project. Kindly include the following CDN in your HTML file.
        </p>
        <div class="iframe-container flex-r flex-center m-tb-l">
            <iframe class="iframe-codes cdn-link"
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%252F%252Fadd%2520this%2520link%2520in%2520the%2520hader%2520section%2520of%2520the%2520HTML%2520file.%250A%253Clink%2520rel%253D%2522stylesheet%2522%2520href%253D%2522https%253A%252F%252Fui-phoenix.netlify.app%252Fcomponents%252Frating%252Frating.css%2522%253E%250A%2520%2520%252F%252F%2520add%2520this%2520script%2520file%2520at%2520the%2520of%2520the%2520body%2520%28after%2520footer%29.%2520just%2520before%2520the%2520body%2520closing%2520tag.%250A%253Cscript%2520src%253D%2522https%253A%252F%252Fui-phoenix.netlify.app%252Fcomponents%252Frating%252Frating.js%2522%253E%253C%252Fscript%253E"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
        <div class="rating-parent-container">
            <h2></h2>
            <p class="text-sm">
                For using this rating simply copy the code from below and paste in your project. You can add your own
                class and customize it.
            </p>

            <div class="rating-container p-xxl flex-c flex-center position-r br-md m-t-xl">
                <div class="ratings-container p-xxl">
                    <i class="fa fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                </div>
            </div>
            <h3>Code Snippet</h3>
            <div class="iframe-container flex-r flex-center m-tb-l">
                <iframe class="iframe-codes"
                    src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522ratings-container%2520p-xxl%2522%253E%250A%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fa%2520fa-star%2520rating%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-star%2520rating%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-star%2520rating%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-star%2520rating%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-star%2520rating%2522%253E%253C%252Fi%253E%250A%253C%252Fdiv%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </div>
    </div>
    <script src="../../main.js"></script>
</body>

</html>