<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../main.css" />
    <title>Modal</title>
</head>

<body>
    <div class="modal-wrapper p-l-xxl p-r-xxl p-b-xxl">
        <h1>MODAL</h1>
        <p class="text-l fw-l">
            It is used to add dialogs to the site for lightboxes, user notifications, or completely custom content.
        </p>
        <h2>Get Started</h2>
        <p>
            To use only the modal component in your project. Kindly include the following CDN in your HTML file.
        </p>
        <div class="iframe-container flex-r flex-center m-tb-l">
            <iframe class="iframe-codes cdn-link"
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%252F%252Fadd%2520this%2520link%2520in%2520the%2520hader%2520section%2520of%2520the%2520HTML%2520file.%250A%253Clink%2520rel%253D%2522stylesheet%2522%2520href%253D%2522https%253A%252F%252Fui-phoenix.netlify.app%252Fcomponents%252Fmodal%252Fmodal.css%2522%253E%250A%2520%2520%252F%252F%2520add%2520this%2520script%2520file%2520at%2520the%2520of%2520the%2520body%2520%28after%2520footer%29.%2520just%2520before%2520the%2520body%2520closing%2520tag.%250A%253Cscript%2520src%253D%2522https%253A%252F%252Fui-phoenix.netlify.app%252Fcomponents%252Fmodal%252Fmodal.js%2522%253E%253C%252Fscript%253E"
                style="width: 943px; height: 260px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">

            </iframe>

        </div>
        <div class="modal-parent-container">
            <h2></h2>
            <p class="text-sm">
                For using this modal simply copy the code from below and paste in your project. You can add your own
                class and customize it. The show modal button here will your button on click of which you want the the
                modal to open. And the hide modal button in the modal will be the close button.
            </p>

            <div class="modal-container p-xxl flex-c flex-center position-r br-md m-t-xl">
                <button class="button button--primary modal-button-unhide m-l">Show Modal</button>
                <div class="modal m-l p-l flex-c flex-center position-a br-md">
                    <p>
                        This is the Modal.
                        Click the button to hide/unhide
                    </p>
                    <button class="button button--primary modal-button-hide">Hide Modal</button>
                </div>
            </div>
            <h3>Code Snippit</h3>
            <div class="iframe-container flex-r flex-center m-tb-l">

                <iframe class="iframe-codes"
                    src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%250A%253Cbutton%2520class%253D%2522button%2520button--primary%2520modal-button-unhide%2520m-l%2522%253EShow%2520Modal%253C%252Fbutton%253E%250A%2520%253Cdiv%2520class%253D%2522modal%2520m-l%2520p-l%2520flex-c%2520flex-center%2520position-a%2522%253E%250A%2520%2520%2520%2520%2520%253Cp%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520This%2520is%2520the%2520Modal.%250A%2520%2520%2520%2520%2520%2520%2520%2520Click%2520the%2520button%2520to%2520hide%252Funhide%250A%2520%2520%2520%2520%2520%253C%252Fp%253E%250A%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522button%2520button--primary%2520modal-button-hide%2522%253EHide%2520Modal%253C%252Fbutton%253E%250A%2520%253C%252Fdiv%253E"
                    style="width: 841px; height: 353px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">

                </iframe>
            </div>
        </div>
        </di>
        <script src="../../main.js"></script>
</body>

</html>