.iframe-container {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.iframe-codes {
  width: 100vw;
  height: 30rem;
  border: none;
  overflow: auto;
  border-radius: 2rem;
}

.cdn-link {
  height: 15rem;
}
