/* fonts  */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

/* ------------------  */

:root {
  /* colors  */
  --primary: #fb5012;
  --secondary: #3e78b2;
  --background: #e8e9f3;
  --heading: #3a3335;
  --text: #628395;
  /* contextual colors  */
  --danger: #721c24;
  --success: #155724;
  --warning: #856404;
  --info: #0c5460;
  --dark: grey;
  --light-color: whitesmoke;
  --online: green;
  --offline: rgb(221, 221, 221);
  --dnd: red;
  /* elements-state(eg.button)  */
  --active: var(--primary);
  /* --hover:var(--secondary); */
  --hover: #fb7646;
  --disabled: #fda889;
  /* typography  */
  --lato: "Lato", sans-serif;
  --arvo: "Arvo", serif;
  --abril-fatface: "Abril Fatface", cursive;
  /* font sizes  & line height  */
  /* Heading  */
  --h1: 4.8rem;
  --h1-lh: 6.4rem;
  --h2: 3.2rem;
  --h2-lh: 4rem;
  --h3: 2.4rem;
  --h3-lh: 3.2rem;
  --h4: 1.6rem;
  --h4-lh: 2.4rem;
  --h5: 0.8rem;
  --h5-lh: 1.6rem;
  /* Text  */
  --text-xl-lh: 6.4rem;
  --text-xl: 4.8rem;
  --text-l: 3.2rem;
  --text-l-lh: 4rem;
  --text-md: 2.4rem;
  --text-md-lh: 3.2rem;
  --text-sm: 1.5rem;
  --text-sm-lh: 2.4rem;
  --text-xsm: 0.8rem;
  --text-xsm-lh: 1.6rem;
  /* Font-weight  */
  --light: 300;
  --regular: 400;
  --bold: 700;
  --black: 900;
  /* Styling  */
  /*--Spacing--  */
  --spc-xs: 0.8rem;
  --spc-s: 1.6rem;
  --spc-md: 2.4rem;
  --spc-l: 3.2rem;
  --spc-xl: 4rem;
  --spc-xxl: 6.4rem;
  /* border-radius  */
  --br-s: 0.5rem;
  --br-md: 1rem;
  --br-l: 2rem;
  --br-xl: 999rem;
}
