/* styling  */
/* typography  */

.text-xl {
  font-size: var(--text-xl);
  line-height: var(--text-xl-lh);
}
.text-l {
  font-size: var(--text-l);
  line-height: var(--text-l-lh);
}
.text-md {
  font-size: var(--text-md);
  line-height: var(--text-md-lh);
}
.text-sm {
  font-size: var(--text-sm);
  line-height: var(--text-sm-lh);
}
.text-xs {
  font-size: var(--text-xs);
  line-height: var(--text-xs-lh);
}

/* font-weight  */

.fw-l {
  font-weight: var(--light);
}
.fw-r {
  font-weight: var(--regular);
}
.fw-b {
  font-weight: var(--bold);
}
.fw-bck {
  font-weight: var(--black);
}

/* button  */
.btn-press:hover {
  background-color: var(--hover);
  transform: scaleX(0.9) scaleY(0.9);
  font-size: calc(var(--text-md) - 0.8rem);
  box-shadow: none;
}

.btn-active {
  background-color: var(--active);
}

.btn-desabled {
  background-color: var(--disabled);
}

/* Border  */
.border-none {
  border: none;
}

.br-sm {
  border-radius: var(--br-s);
}
.br-md {
  border-radius: var(--br-md);
}
.br-l {
  border-radius: var(--br-l);
}
.br-xl {
  border-radius: var(--br-xl);
}

/* Display  */
.display-in-bl {
  display: inline-block;
}
/* flex  */

.flex-r {
  display: flex;
  flex-direction: row;
}
.flex-c {
  display: flex;
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

/* positioning  */
.position-r {
  position: relative;
}
.position-a {
  position: absolute;
}

/* bg-colors  */
.bg-white {
  background-color: white;
}
.bg-grey-dark {
  background-color: grey;
}

/* colors  */
.color-black {
  color: black;
}
.color-white {
  color: white;
}

/* image  */
.img-100 {
  height: 100%;
  width: 100%;
}

/* ----------padding-----------  */

/*   ---top-bottom-left-right --  */
.p-xs {
  padding: 0.8rem;
}
.p-s {
  padding: 1.6rem;
}
.p-md {
  padding: 2.4rem;
}
.p-l {
  padding: 3.2rem;
}
.p-xl {
  padding: 4rem;
}
.p-xxl {
  padding: 6.4rem;
}

/*  ------------top-bottom ------------  */
.p-tb-xs {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.p-tb-s {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.p-tb-md {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}
.p-tb-l {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}
.p-tb-xl {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.p-tb-xxl {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

/*  ------------left-right ------------  */

.p-lr-xs {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.p-lr-s {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.p-lr-md {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
.p-tb-l {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}
.p-lr-xl {
  padding-left: 4rem;
  padding-right: 4rem;
}
.p-lr-xxl {
  padding-left: 6.4rem;
  padding-right: 6.4rem;
}

/*  ------------top ------------  */

.p-b-xs {
  padding-bottom: 0.8rem;
}
.p-b-s {
  padding-bottom: 1.6rem;
}
.p-b-md {
  padding-bottom: 2.4rem;
}
.p-b-l {
  padding-bottom: 3.2rem;
}
.p-b-xl {
  padding-bottom: 4rem;
}
.p-b-xxl {
  padding-bottom: 6.4rem;
}

/* ------------left ------------  */

.p-l-xs {
  padding-left: 0.8rem;
}
.p-l-s {
  padding-left: 1.6rem;
}
.p-l-md {
  padding-left: 2.4rem;
}
.p-l-l {
  padding-left: 3.2rem;
}
.p-l-xl {
  padding-left: 4rem;
}
.p-l-xxl {
  padding-left: 6.4rem;
}

/* ----------right------------  */

.p-r-xs {
  padding-right: 0.8rem;
}
.p-r-s {
  padding-right: 1.6rem;
}
.p-r-md {
  padding-right: 2.4rem;
}
.p-r-l {
  padding-right: 3.2rem;
}
.p-r-xl {
  padding-right: 4rem;
}
.p-r-xxl {
  padding-right: 6.4rem;
}

/* -----bottom-------  */

.p-t-xs {
  padding-top: 0.8rem;
}
.p-t-s {
  padding-top: 1.6rem;
}
.p-t-md {
  padding-top: 2.4rem;
}
.p-t-l {
  padding-top: 3.2rem;
}
.p-t-xl {
  padding-top: 4rem;
}
.p-t-xxl {
  padding-top: 6.4rem;
}

/* -------------margin-----------  */

/* top-bottom-left-right  */

.m-xs {
  margin: 0.8rem;
}
.m-s {
  margin: 1.6rem;
}
.m-md {
  margin: 2.4rem;
}
.m-l {
  margin: 3.2rem;
}
.m-xl {
  margin: 4rem;
}
.m-xxl {
  margin: 6.4rem;
}

/* -----top-bottom-------  */

.m-tb-xs {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.m-tb-s {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.m-tb-md {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}
.m-tb-l {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}
.m-tb-xl {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.m-tb-xxl {
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;
}

/* -----left-right-------  */

.m-lr-xs {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
.m-lr-s {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}
.m-lr-md {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}
.m-tb-l {
  margin-left: 3.2rem;
  margin-right: 3.2rem;
}
.m-lr-xl {
  margin-left: 4rem;
  margin-right: 4rem;
}
.m-lr-xxl {
  margin-left: 6.4rem;
  margin-right: 6.4rem;
}

/* -----top-------  */

.m-b-xs {
  margin-bottom: 0.8rem;
}
.m-b-s {
  margin-bottom: 1.6rem;
}
.m-b-md {
  margin-bottom: 2.4rem;
}
.m-b-l {
  margin-bottom: 3.2rem;
}
.m-b-xl {
  margin-bottom: 4rem;
}
.m-b-xxl {
  margin-bottom: 6.4rem;
}

/* -----bottom-------  */

.m-t-xs {
  margin-top: 0.8rem;
}
.m-t-s {
  margin-top: 1.6rem;
}
.m-t-md {
  margin-top: 2.4rem;
}
.m-t-l {
  margin-top: 3.2rem;
}
.m-t-xl {
  margin-top: 4rem;
}
.m-t-xxl {
  margin-top: 6.4rem;
}

/* -----left-------  */

.m-l-xs {
  margin-left: 0.8rem;
}
.m-l-s {
  margin-left: 1.6rem;
}
.m-l-md {
  margin-left: 2.4rem;
}
.m-l-l {
  margin-left: 3.2rem;
}
.m-l-xl {
  margin-left: 4rem;
}
.m-l-xxl {
  margin-left: 6.4rem;
}

/* -----right-------  */

.m-r-xs {
  margin-right: 0.8rem;
}
.m-r-s {
  margin-right: 1.6rem;
}
.m-r-md {
  margin-right: 2.4rem;
}
.m-r-l {
  margin-right: 3.2rem;
}
.m-r-xl {
  margin-right: 4rem;
}
.m-r-xxl {
  margin-right: 6.4rem;
}
