/* navbar  */
.docs {
  background-color: var(--secondary);
}
/* sidebar  */
.components-container {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: 1fr 5fr;
}
.component-connect-container {
  justify-content: space-between;
  height: calc(100vh - 7rem);
  transition: all 0.2s ease;
  background-color: var(--secondary);
}

.components-menu {
  padding: 2rem;
  height: 80%;
  overflow-y: scroll;
}
.components-menu::-webkit-scrollbar {
  display: none;
}
.component-heading {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: white;
}
.component-heading::after {
  content: "";
  border-right: 4px solid var(--primary);
  margin: 1rem;
}
.component-heading::before {
  content: "";
  border-right: 4px solid var(--primary);
  margin: 1rem;
}
.menu-item {
  font-size: var(--text-sm);
  width: calc(100% - 2rem);
  border-radius: 0.5rem;
  height: 2rem;
  margin-bottom: 3rem;
}

.component-btn {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 2rem;
  letter-spacing: 2px;
  color: white;
  border-radius: var(--br-md);
  padding: 1rem;
}
.component-btn:hover {
  background-color: var(--hover);
  color: white;
}
/* ---iframe----  */
.iframe-docs {
  background-color: var(--secondary);
}
.docs-iframe {
  width: 100%;
  height: 100%;
  border-top-left-radius: 2rem;
}
/* footer  */
.connect {
  min-height: 20%;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--oranged);
}
.connect span {
  font-size: 1.2rem;
  color: white;
}
.social-handles {
  justify-content: space-evenly;
  width: 100%;
}
.social-handles img {
  width: 2rem;
}
.social-handles img:hover {
  filter: invert(42%) sepia(87%) saturate(3936%) hue-rotate(354deg)
    brightness(101%) contrast(97%);
}

/* ----- action styles----  */
.active-component-button {
  background-color: var(--primary);
  color: white;
}
.active-component-button:hover {
  background-color: var(--primary);
}
