@import url(../../shared/reset.css);
@import url(../../shared/style-guide.css);
@import url(../../shared/utility.css);
@import url(../../shared/iframe.css);

/* alert examples */

.alert {
  width: calc(100vw - 60rem);
  height: 5rem;
  border-radius: 0.5rem;
  color: white;
}
.alert--primary {
  background-color: #abfaf2;
  color: var(--primary);
}
.alert--secondary {
  background-color: #8f86cc;
  color: var(--secondary);
}
.alert--danger {
  color: var(--danger);
  background-color: #f8d7da;
}
.alert--success {
  color: var(--success);
  background-color: #d4edda;
}
.alert--warning {
  color: var(--warning);
  background-color: #fff3cd;
}
.alert--info {
  color: var(--info);
  background-color: #d1ecf1;
}

.alert--dark {
  color: #fefefe;
  background-color: var(--dark);
}

.alert--light {
  color: #1b1e21;
  background-color: var(--light-color);
}

/* alert links  */

.alert-link {
  font-weight: var(--black);
  color: currentColor;
}
